/mm


/*.dep

/nbproject
/appexp

/*.m4

/*.log

/compile
/*.status

/depcomp

/install-sh

/ltmain.sh
/missing

/autom4te.cache
/bak

/src/.deps
*.o
*.dump

/src/*.a

/test/appexp
/test/.deps
/Debug

/win32_test/Debug
/win32_test_sub/Debug

/src/Debug

/*.suo

/*.sdf
/*.opensdf
